@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;	
}

.white-text {
	color: white!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: GillSansNovaBold;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3, h4, h5, h6 {
	font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    background-color: #969696;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    margin: 0 20px;
	-webkit-appearance: none;
	width: 90%;
}

.btn:hover {
	background-color: #D6DA7F;
}

.btn:active {
	background-color: #414828;
	box-shadow: none;
}

html {
	/* background:url(../images/cookieTile.gif) repeat; */
	background-color: black;
}

body {
	/* background:url(../images/mainBackTileBody.jpg) bottom center repeat-x; */
	background-color: #b3b1af;
	min-width: 945px;
}

#lGradient { background:url(../images/leftShadow.png) repeat-y; display: block; float: left; position:absolute; z-index: 0; width: 261px; height: 100%; }
#rGradient { background:url(../images/rightShadow.png) repeat-y; display: block; float: right; position:absolute; right: 0px; z-index: 0; width: 261px; height: 100%; }

#bodyContainer { position:relative; z-index: 80; }

#wrapper {
	width: 100%;
	z-index: 1;

}

#header {
	
	z-index: 1;
	width: 100%;
	height: 130px;
	/* background-image:url(../images/header.gif); */
	background-color: black;
	background-position: top center;
	background-repeat: repeat-x;
}

#header_inner {
	width: 945px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#header img {
	margin-left: 25px;
	padding-top: 25px;
}

#main_nav {
	margin-left: 425px;
	margin-top: -16px;
	/*padding-top: 50px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aeaeae;	
	min-width: 500px;
}

#main_nav_index {
	margin-left: 425px;
	padding-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aeaeae;	
	min-width: 500px;
}

#header ul {
	text-align: center;
	display: inline;
	list-style-type: none;	
}

#header ul li {
	display: inline;
}

#header a, a:focus, a:active {
	text-decoration: none;
	color: #aeaeae;
}

#header a:hover {
	text-decoration: none;
	color: white;
}

#header a.current_page, a.current_page:hover, a.current_page:focus, a.current_page:active {
	text-decoration: none;
	color: white;
}



#content_homepage {
	position: relative;
	z-index: 2;
	/*width: 1292px;*/
	width: 100%;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
			
}

#content {
	position: relative;
	z-index: 2;
	/*width: 1292px;*/
	width: 100%;
	min-height: 625px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
			
}


#topbox_homepage {
	width: 945px;
	height: 393px;
	margin-left: auto;
	margin-right: auto;
	
	background-image:url(../images/topbox_homepage_background.png);
	background-position: top center;	
}

#topbox {
	width: 945px;
	height: 169px;
	margin-left: auto;
	margin-right: auto;
	
	background-image:url(../images/topbox_background.png);
	background-position: top center;
}

#topbox img {
	padding-top: 3px; 
	padding-left: 7px;
	height: 159px;
	width: 934px;
}

#topbox_homepage_header {
	width: 934px;
	height: 294px;
	margin-left: 7px;

}

#topbox_homepage_header img {
	height:294px;width:934px;margin-top:4px;
}

#topbox_homepage_content {
	padding-top: 17px;	
	padding-left: 25px;
}

#topbox_homepage_content p {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 5px;
	font-size: 10px;
	line-height: 15px;

		
}

#middlebox_homepage {
	width: 945px;
	height: 293px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	
	background-image:url(../images/middlebox_homepage_background.png);
	background-position: top center;
}

#middlebox_content {
	width: 945px;
	min-height: 300px;
	/*height: 400px;*/
	/*margin-top: 5px;*/
	/*padding-left: 20px;*/
	margin-left: auto;
	margin-right: auto;
	z-index: 2;

}



#middlebox_content_left {
	margin-left: 70px;
	padding-top: 1px;
	float: left;
}


#middlebox_content_left a, a:focus, a:active {
	text-decoration: none;
	color: #737373;
}

#middlebox_content_left a:hover {
	text-decoration: none;
	color: #5c7db4;
}

#middlebox_content_left a.current_page, a.current_page:hover, a.current_page:focus, a.current_page:active {
	text-decoration: none;
	color: #5c7db4;
}

#middlebox_content_left .subnav_item {
	/* font-family: 'Century Gothic', 'Tw Cen MT', Futura, 'URW Gothic L', Arial, sans-serif; */
	font-family: GillSansNovaMedium;
	font-size: 12px;
	font-weight: bold;
	margin-left: 11px;
	text-transform:uppercase;
}

#middlebox_content_right {
	padding-top: 50px;
	width: 431px;
	margin-left: 425px;	
}

#middlebox_content_right h2 {
	padding-bottom: 15px;
	/* font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif; */
	font-family: GillSansNovaMedium;
	font-size: 14px;
	color: #333333;
	text-transform:uppercase;
}

#middlebox_content_right p {
	/*color: #868686;*/
	color: #4d4d4d;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	/*letter-spacing: .05em;*/
}

#middlebox_content_right span.paragraph {
	color: #4d4d4d;
	font-size: 12px;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	/*letter-spacing: .05em;*/
}

#middlebox_content_right span.last {
	color: #5c7db4;
	font-size: 12px;
	font-weight: bold;
	font-style:italic;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	/*letter-spacing: .05em;*/
		
}


#middlebox_content_right span.last a {
	color: #5c7db4;
}

#middlebox_content_right img.facebook {
	margin-left: 7px;
	margin-bottom: -6px;
}

#middlebox_content_right ul {
	padding-left: 25px;
	color: #4d4d4d;
	font-size: 12px;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	/*letter-spacing: .05em;*/
	
	
}

#middlebox_content_right .lifesmiles {
	color: #5c7db4;
	padding-bottom: 2px;
}


#middlebox_content_right li {
	padding-bottom: 10px;
}

#middlebox_content_bottom {
	width:930px; 
	margin-left: auto; 
	margin-right: auto; 
	clear:both;
	/*margin-top:10px;*/
	padding-top: 10px;
	padding-left:5px;	
}

#brands_images {
	height: 197px;
}

#brands_images img {
	height: 188px;
	width: 298px;
	margin-left: 9px;
	margin-top: 2px;
}

#brands_image_01 {
	width: 310px;
	height: 197px;
	background-image: url(../images/brand_image_background.png);
	background-repeat:no-repeat;
	margin-left: -3px;
	float: left;
}


#brands_image_02 {
	width: 310px;
	height: 197px;
	background-image: url(../images/brand_image_background.png);
	background-repeat:no-repeat;
	margin-left: 0px;
	float: left;

}

#brands_image_03 {
	width: 310px;
	height: 197px;
	background-image: url(../images/brand_image_background.png);
	background-repeat:no-repeat;
	margin-left: 0px;
	float: left;

}


#middlebox_top {
	width: 945px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
	background-image:url(../images/content_background_top.png);
	background-position: top center;

}

#middlebox_bottom {
	width: 945px;
	height: 124px;
	margin-left: auto;
	margin-right: auto;
	background-image:url(../images/content_background_bottom.png);
	/*background-position: top center;*/
	/*bottom: 0px;*/
	z-index: 1;
	

}




#middlebox_spacer {
	width: 945px;
	height: 45px;	
}


#middlebox_homepage_left {
	width: 445px;
	height: 198px;
	padding-top: 10px;
	padding-left: 8px;
	background-image:url(../images/logo_background.png);
	background-position: top center;
	background-repeat: no-repeat;
	float: left;
}

#middlebox_homepage_left_inner {

	margin-left: 0px;

}

#middlebox_homepage_left_inner a img {

	border: none;

}


#middlebox_homepage_right {
	width: 400px;
	margin-left: 40px;
	float: left;
}

#middlebox_homepage_right h2 {
	padding-top: 10px;
	padding-bottom: 15px;
	/* font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif; */
	font-family: GillSansNovaMedium;
	font-size: 14px;
	color: #333333;
	text-transform:uppercase;
}

#middlebox_homepage_right p {
	/*color: #868686;*/
	color: #4d4d4d;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	/*letter-spacing: .05em;*/
}

#middlebox_homepage_right span.paragraph {
	color: #4d4d4d;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	/*letter-spacing: .05em;*/
}

#imagebox_homepage {
	width: 945px;
	height: 206px;
	margin-top: 5px;

	margin-left: auto;
	margin-right: auto;
	background-image:url(../images/imagebox_background.png);
	background-position: top center;
	background-repeat: no-repeat;

}

#imagebox_homepage table {
	/*margin-top: 5px;*/
	margin-left: 6px;
	border-width:1px; 
	border-style: solid; 
	border-collapse:collapse; 
	border-color:white;	
}

#imagebox_homepage td {
	border-width:1px; 
	border-style: solid; 
	border-collapse:collapse; 
	border-color:white;
}

#imagebox_homepage p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #cccccc;
	margin-top: 5px;
}

#imagebox_homepage_left {
	width: 310px;
	height: 195px;
	position: relative;
	background-image:url(../images/imagebox/cura.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#imagebox_homepage_left_inner {
	height:24px;
	width: 310px;
	position: absolute;
	left:0;
	bottom: 0;
	background-image:url(../images/imagebox/caption_background.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	
}

#imagebox_homepage_middle {
	width: 310px;
	height: 195px;
	position: relative;
	background-image:url(../images/imagebox/smiley.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#imagebox_homepage_middle_inner {
	height:24px;
	width: 310px;
	position: absolute;
	left:0;
	bottom: 0;
	background-image:url(../images/imagebox/caption_background.png);
	background-position: bottom center;
	background-repeat: repeat-x;	
}

#imagebox_homepage_right {
	width: 310px;
	height: 195px;
	position: relative;
	background-image:url(../images/imagebox/6penn.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#imagebox_homepage_right_inner {
	height:24px;
	width: 310px;
	position: absolute;
	left:0;
	bottom: 0;
	background-image:url(../images/imagebox/caption_background.png);
	background-position: bottom center;
	background-repeat: repeat-x;	
}

#footer {
	/*width:1292px;*/
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	margin-top: -60px;
	position:relative;
}

#contact {
	/*width: 1292px;*/
	width: 100%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#contact_content {
	width: 710px;
	min-width: 710px;
	height: 225px;
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#contact_content .top {
	/* font-family: 'Century Gothic', 'Tw Cen MT', Futura, 'URW Gothic L', Arial, sans-serif; */
	font-family: GillSansNovaMedium;
	font-size: 12px;
	color: #404040; 
	font-weight: bold;
}

#contact_content .middle {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size: 11px;
	color: #e7e7e7;
}

#contact_content .bottom {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size: 11px;
	color: #494d54;
}


#contact_bottom {
	/*width: 1292px;*/
	width: 100%;
	height: 9px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;

}

#footer_bottom {
	/*width: 1292px;*/
	width: 100%;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	position:absolute;
	bottom: -85px;
}

#footer_bottom_content {
	padding-top: 10px;
	width: 600px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;

}

#footer_bottom_content_left {
	width: 100%;
	text-align: center;
	position: relative;
}

#footer_bottom_content_left div {
	width: 100%;
}

#footer_bottom_content_right {
	width: 124px;
	float: left;
}

#footer_bottom_content .top {
	color: #88adea;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 9px;
	position: absolute;
	right: 0px;
}

#footer_bottom_content .bottom {
	color: #cccccc;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: absolute;
	right: 0px;
}

#footer_bottom_content a, a:focus, a:active {
	text-decoration: none;
	color: #cccccc;
}

#footer_bottom_content a:hover {
	text-decoration: none;
	color: white;
}

#ourbrands {
	
	margin-left: -100px; 
	margin-top: -20px;
}

#ourbrands span.paragraph {
	color: #868686;
	font-size: 9px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12px;
	/*letter-spacing: .03em;*/
}

.corevaluesimage {
	float:left; margin-left: -55px; margin-top: -10px;
}

img.smiley {
	margin-bottom: -3px; padding-left: 2px;
}

a img {
	text-decoration: none;
	border: 0 none;
	}
	
#lifesmilesimage {
	float: left; margin-left: -325px;margin-top: 0px;
}


#timeline {
	width:731;
	margin-left: 125px;	
}

#timeline ul {
	list-style: url("../images/ecostepstimeline/bullet.png");
	padding-left:15px;	
}

#timeline li{
	color: #4d4d4d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-bottom: 4px;
	
}

#timeline a, a:focus, a:active {
	text-decoration: none;
	color: #4d4d4d;
}

#timeline a:hover {
	text-decoration: none;
	color: #5c7db4;
}

.timeline_modals h1, h2, h3, h4, h5, h6 {

	padding-bottom: 15px;
	/* font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif; */
	font-family: GillSansNovaMedium;
	font-size: 14px;
	color: #333333;
	text-transform:uppercase;
}

.timeline_modals p {
	color: #4d4d4d;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	/*letter-spacing: .05em;*/
}

.timeline_modals ul {
	padding-left: 25px;
	color: #4d4d4d;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	/*letter-spacing: .05em;*/
}

.timelinemodals a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #5c7db4;
}

