<configuration>
 <!-- application specific settings -->
 
  <appSettings>
	  <add key="applicationName" value="Eat'n Park Corporate" />  
	  <!-- <add key="connString" value="User Id=eatnpark_web;PASSWORD=smile435A;SERVER=72.3.228.151;Database=eatnpark_corporate;" /> -->
	  
	  <add key="connString" value="User Id=WebDBUser;PASSWORD=ard53aK$d;SERVER=(local);Database=eatnpark_corporate;" />
	  <add key="smtpServer" value="localhost" />
	  <add key="editorBasePath" value="http://www.EnPHospitality.com/_admin/" />	
	  <add key="webURL" value="http://www.EnPHospitality.com/" />   
	  <add key="formsEmail" value="" />
	  <add key="liveStatus" value="Y" />
	  <add key="uploadPath" value="\upload" />	
  </appSettings>
  
    <system.web>
      <compilation debug="true" />
		<pages validateRequest="false" />
		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="8192" />
    </system.web>
	
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>